azurerm_netapp_volume:
    status: HOLD
    subcategory: NetApp
    layout: azurerm
    page_title: 'Azure Resource Manager: azurerm_netapp_volume'
    description: Manages a NetApp Volume.
    arguments:
        name:
            description: The name of the NetApp Volume. Changing this forces a new
                resource to be created.
            required: true
            policy: ''
            notes: ''
        resource_group_name:
            description: The name of the resource group where the NetApp Volume should
                be created. Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        location:
            description: Specifies the supported Azure location where the resource
                exists. Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        account_name:
            description: The name of the NetApp account in which the NetApp Pool should
                be created. Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        volume_path:
            description: A unique file path for the volume. Used when creating mount
                targets. Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        pool_name:
            description: The name of the NetApp pool in which the NetApp Volume should
                be created. Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        service_level:
            description: The target performance of the file system. Valid values include
                `Premium`, `Standard`, or `Ultra`.
            required: true
            policy: ''
            notes: ''
        protocols:
            description: The target volume protocol expressed as a list. Supported
                single value include `CIFS`, `NFSv3`, or `NFSv4.1`. If argument is
                not defined it will default to `NFSv3`. Changing this forces a new
                resource to be created and data will be lost.
            required: false
            policy: ''
            notes: ''
        subnet_id:
            description: The ID of the Subnet the NetApp Volume resides in, which
                must have the `Microsoft.NetApp/volumes` delegation. Changing this
                forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        storage_quota_in_gb:
            description: The maximum Storage Quota allowed for a file system in Gigabytes.
            required: true
            policy: ''
            notes: ''
        export_policy_rule:
            description: One or more `export_policy_rule` block defined below.
            required: false
            policy: ''
            notes: ''
        tags:
            description: A mapping of tags to assign to the resource.
            required: false
            policy: ''
            notes: ''
    attributes: {}
    timeouts: {}
