azurerm_iothub_shared_access_policy:
    status: ASSESS
    subcategory: IoT Hub
    layout: azurerm
    page_title: 'Azure Resource Manager: azurerm_iothub_shared_access_policy'
    description: Manages an IotHub Shared Access Policy
    arguments:
        name:
            description: Specifies the name of the IotHub Shared Access Policy resource.
                Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        resource_group_name:
            description: The name of the resource group under which the IotHub Shared
                Access Policy resource has to be created. Changing this forces a new
                resource to be created.
            required: true
            policy: ''
            notes: ''
        iothub_name:
            description: The name of the IoTHub to which this Shared Access Policy
                belongs. Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        registry_read:
            description: Adds `RegistryRead` permission to this Shared Access Account.
                It allows read access to the identity registry.
            required: false
            policy: ''
            notes: ''
        registry_write:
            description: Adds `RegistryWrite` permission to this Shared Access Account.
                It allows write access to the identity registry.
            required: false
            policy: ''
            notes: ''
    attributes: {}
    timeouts: {}
