azurerm_app_service_certificate_order:
    status: HOLD
    subcategory: App Service (Web Apps)
    layout: azurerm
    page_title: 'Azure Resource Manager: azurerm_app_service_certificate_order'
    description: Manages an App Service Certificate Order.
    arguments:
        name:
            description: Specifies the name of the certificate. Changing this forces
                a new resource to be created.
            required: true
            policy: ''
            notes: ''
        resource_group_name:
            description: The name of the resource group in which to create the certificate.
                Changing this forces a new resource to be created.
            required: true
            policy: ''
            notes: ''
        location:
            description: Specifies the supported Azure location where the resource
                exists. Changing this forces a new resource to be created. Currently
                the only valid value is `global`.
            required: true
            policy: ''
            notes: ''
        auto_renew:
            description: true if the certificate should be automatically renewed when
                it expires; otherwise, false. Defaults to true.
            required: false
            policy: ''
            notes: ''
        csr:
            description: Last CSR that was created for this order.
            required: false
            policy: ''
            notes: ''
        distinguished_name:
            description: The Distinguished Name for the App Service Certificate Order.
            required: false
            policy: ''
            notes: Either `csr` or `distinguished_name` must be set - but not both.
        key_size:
            description: Certificate key size.  Defaults to 2048.
            required: false
            policy: ''
            notes: ''
        product_type:
            description: Certificate product type, such as `Standard` or `WildCard`.
            required: false
            policy: ''
            notes: ''
        validity_in_years:
            description: Duration in years (must be between `1` and `3`).  Defaults
                to `1`.
            required: false
            policy: ''
            notes: ''
    attributes:
        id:
            description: The App Service Certificate Order ID.
        certificates:
            description: State of the Key Vault secret. A `certificates` block as
                defined below.
        domain_verification_token:
            description: Domain verification token.
        status:
            description: Current order status.
        expiration_time:
            description: Certificate expiration time.
        is_private_key_external:
            description: Whether the private key is external or not.
        app_service_certificate_not_renewable_reasons:
            description: Reasons why App Service Certificate is not renewable at the
                current moment.
        signed_certificate_thumbprint:
            description: Certificate thumbprint for signed certificate.
        root_thumbprint:
            description: Certificate thumbprint for root certificate.
        intermediate_thumbprint:
            description: Certificate thumbprint intermediate certificate.
        tags:
            description: A mapping of tags to assign to the resource.
        certificate_name:
            description: The name of the App Service Certificate.
        key_vault_id:
            description: Key Vault resource Id.
        key_vault_secret_name:
            description: Key Vault secret name.
        provisioning_state:
            description: Status of the Key Vault secret.
    timeouts:
        create:
            description: Used when creating the App Service Certificate Order.
            required: false
            timeout: 30
        update:
            description: Used when updating the App Service Certificate Order.
            required: false
            timeout: 30
        read:
            description: Used when retrieving the App Service Certificate Order.
            required: false
            timeout: 5
        delete:
            description: Used when deleting the App Service Certificate Order.
            required: false
            timeout: 30
    usage: !!binary |
        Q25KbGMyOTFjbU5sSUNKaGVuVnlaWEp0WDNKbGMyOTFjbU5sWDJkeWIzVndJaUFpWlhoaGJYQnNa
        U0lnZXdvZ0lHNWhiV1VnSUNBZ0lEMGdJbVY0WVcxd2JHVXRjbVZ6YjNWeVkyVnpJZ29nSUd4dlky
        RjBhVzl1SUQwZ0lsZGxjM1FnUlhWeWIzQmxJZ3A5Q2dweVpYTnZkWEpqWlNBaVlYcDFjbVZ5YlY5
        aGNIQmZjMlZ5ZG1salpWOWpaWEowYVdacFkyRjBaVjl2Y21SbGNpSWdJbVY0WVcxd2JHVWlJSHNL
        SUNCdVlXMWxJQ0FnSUNBZ0lDQWdJQ0FnSUNBZ0lEMGdJbVY0WVcxd2JHVXRZMlZ5ZEMxdmNtUmxj
        aUlLSUNCeVpYTnZkWEpqWlY5bmNtOTFjRjl1WVcxbElEMGdZWHAxY21WeWJWOXlaWE52ZFhKalpW
        OW5jbTkxY0M1bGVHRnRjR3hsTG01aGJXVUtJQ0JzYjJOaGRHbHZiaUFnSUNBZ0lDQWdJQ0FnSUQw
        Z0ltZHNiMkpoYkNJS0lDQmthWE4wYVc1bmRXbHphR1ZrWDI1aGJXVWdJRDBnSWtOT1BXVjRZVzF3
        YkdVdVkyOXRJZ29nSUhCeWIyUjFZM1JmZEhsd1pTQWdJQ0FnSUNBZ1BTQWlVM1JoYm1SaGNtUWlD
        bjBL
    import: !!binary |
        Q2dwQmNIQWdVMlZ5ZG1salpTQkRaWEowYVdacFkyRjBaU0JQY21SbGNuTWdZMkZ1SUdKbElHbHRj
        Rzl5ZEdWa0lIVnphVzVuSUhSb1pTQmdjbVZ6YjNWeVkyVWdhV1JnTENCbExtY3VDZ289
    hcl_url: !!binary |
        YUhSMGNITTZMeTluYVhSb2RXSXVZMjl0TDNSbGNuSmhabTl5YlMxd2NtOTJhV1JsY25NdmRHVnlj
        bUZtYjNKdExYQnliM1pwWkdWeUxXRjZkWEpsY20wdllteHZZaTl0WVhOMFpYSXZkMlZpYzJsMFpT
        OWtiMk56TDNJdllYQndYM05sY25acFkyVmZZMlZ5ZEdsbWFXTmhkR1ZmYjNKa1pYSXVhSFJ0YkM1
        dFlYSnJaRzkzYmc9PQ==
