aws_secretsmanager_secret_version:
    status: HOLD
    subcategory: Secrets Manager
    layout: aws
    page_title: 'AWS: aws_secretsmanager_secret_version'
    description: Provides a resource to manage AWS Secrets Manager secret version
        including its secret value
    arguments:
        secret_id:
            description: Specifies the secret to which you want to add a new version.
                You can specify either the Amazon Resource Name (ARN
            required: true
            policy: ''
            notes: ''
        secret_string:
            description: Specifies text data that you want to encrypt and store in
                this version of the secret. This is required if secret_binary is not
                set.
            required: false
            policy: ''
            notes: ''
        secret_binary:
            description: Specifies binary data that you want to encrypt and store
                in this version of the secret. This is required if secret_string is
                not set. Needs to be encoded to base64.
            required: false
            policy: ''
            notes: ''
        version_stages:
            description: Specifies a list of staging labels that are attached to this
                version of the secret. A staging label must be unique to a single
                version of the secret. If you specify a staging label that's already
                associated with a different version of the same secret then that staging
                label is automatically removed from the other version and attached
                to this version. If you do not specify a value, then AWS Secrets Manager
                automatically moves the staging label `AWSCURRENT` to this new version
                on creation.
            required: false
            policy: ''
            notes: ''
    attributes: {}
    timeouts: {}
