aws_eks_node_group:
    status: ASSESS
    subcategory: EKS
    layout: aws
    page_title: 'AWS: aws_eks_node_group'
    description: Manages an EKS Node Group
    arguments:
        cluster_name:
            description: Name of the EKS Cluster.
            required: true
            policy: ''
            notes: ''
        node_group_name:
            description: Name of the EKS Node Group.
            required: true
            policy: ''
            notes: ''
        node_role_arn:
            description: Amazon Resource Name (ARN
            required: true
            policy: ''
            notes: ''
        scaling_config:
            description: Configuration block with scaling settings. Detailed below.
            required: true
            policy: ''
            notes: ''
        subnet_ids:
            description: 'Identifiers of EC2 Subnets to associate with the EKS Node
                Group. These subnets must have the following resource tag: `kubernetes.io/cluster/CLUSTER_NAME`
                (where `CLUSTER_NAME` is replaced with the name of the EKS Cluster).'
            required: true
            policy: ''
            notes: ''
        ami_type:
            description: Type of Amazon Machine Image (AMI
            required: false
            policy: ''
            notes: ''
        disk_size:
            description: Disk size in GiB for worker nodes. Defaults to `20`. Terraform
                will only perform drift detection if a configuration value is provided.
            required: false
            policy: ''
            notes: ''
        instance_types:
            description: Set of instance types associated with the EKS Node Group.
                Defaults to `["t3.medium"]`. Terraform will only perform drift detection
                if a configuration value is provided. Currently, the EKS API only
                accepts a single value in the set.
            required: false
            policy: ''
            notes: ''
        labels:
            description: Key-value map of Kubernetes labels. Only labels that are
                applied with the EKS API are managed by this argument. Other Kubernetes
                labels applied to the EKS Node Group will not be managed.
            required: false
            policy: ''
            notes: ''
        release_version:
            description: AMI version of the EKS Node Group. Defaults to latest version
                for Kubernetes version.
            required: false
            policy: ''
            notes: ''
        remote_access:
            description: Configuration block with remote access settings. Detailed
                below.
            required: false
            policy: ''
            notes: ''
        tags:
            description: Key-value map of resource tags.
            required: false
            policy: ''
            notes: ''
        version:
            description: Kubernetes version. Defaults to EKS Cluster Kubernetes version.
                Terraform will only perform drift detection if a configuration value
                is provided.
            required: false
            policy: ''
            notes: ''
    attributes:
        arn:
            description: Amazon Resource Name (ARN) of the EKS Node Group.
        id:
            description: EKS Cluster name and EKS Node Group name separated by a colon
                (`:`).
        resources:
            description: List of objects containing information about underlying resources.
        status:
            description: Status of the EKS Node Group.
    timeouts: {}
