aws_acmpca_certificate_authority:
    status: HOLD
    subcategory: ACM PCA
    layout: aws
    page_title: 'AWS: aws_acmpca_certificate_authority'
    description: Provides a resource to manage AWS Certificate Manager Private Certificate
        Authorities
    arguments:
        certificate_authority_configuration:
            description: Nested argument containing algorithms and certificate subject
                information. Defined below.
            required: true
            policy: ''
            notes: ''
        enabled:
            description: Whether the certificate authority is enabled or disabled.
                Defaults to `true`.
            required: false
            policy: ''
            notes: ''
        revocation_configuration:
            description: Nested argument containing revocation configuration. Defined
                below.
            required: false
            policy: ''
            notes: ''
        tags:
            description: Specifies a key-value map of user-defined tags that are attached
                to the certificate authority.
            required: false
            policy: ''
            notes: ''
        type:
            description: 'The type of the certificate authority. Defaults to `SUBORDINATE`.
                Valid values: `ROOT` and `SUBORDINATE`.'
            required: false
            policy: ''
            notes: ''
        permanent_deletion_time_in_days:
            description: The number of days to make a CA restorable after it has been
                deleted, must be between 7 to 30 days, with default to 30 days.
            required: false
            policy: ''
            notes: ''
    attributes: {}
    timeouts: {}
