datadog_monitor:
    status: ASSESS
    layout: datadog
    page_title: 'Datadog: datadog_monitor'
    sidebar_current: docs-datadog-resource-monitor
    description: Provides a Datadog monitor resource. This can be used to create and
        manage monitors.
    arguments:
        type:
            description: The type of the monitor. The mapping from these types to
                the types found in the Datadog Web UI can be found in the Datadog
                API [documentation](https://docs.datadoghq.com/api/?lang=python#create-a-monitor
            required: true
            policy: ''
            notes: ''
        name:
            description: Name of Datadog monitor
            required: true
            policy: ''
            notes: ''
        query:
            description: The monitor query to notify on. Note this is not the same
                query you see in the UI and
            required: true
            policy: ''
            notes: ''
        message:
            description: A message to include with notifications for this monitor.
            required: true
            policy: ''
            notes: ''
        escalation_message:
            description: A message to include with a re-notification. Supports the
                '@username'
            required: false
            policy: ''
            notes: ''
        notify_no_data:
            description: A boolean indicating whether this monitor will notify when
                data stops reporting. Defaults
            required: false
            policy: ''
            notes: ''
        new_host_delay:
            description: Time (in seconds
            required: false
            policy: ''
            notes: ''
        evaluation_delay:
            description: Time (in seconds
            required: false
            policy: ''
            notes: ''
        no_data_timeframe:
            description: The number of minutes before a monitor will notify when data
                stops reporting. Provider defaults to 10 minutes.
            required: false
            policy: ''
            notes: ''
        renotify_interval:
            description: The number of minutes after the last notification before
                a monitor will re-notify
            required: false
            policy: ''
            notes: ''
        notify_audit:
            description: A boolean indicating whether tagged users will be notified
                on changes to this monitor.
            required: false
            policy: ''
            notes: ''
        timeout_h:
            description: The number of hours of the monitor not reporting data before
                it will automatically resolve
            required: false
            policy: ''
            notes: ''
        include_tags:
            description: A boolean indicating whether notifications from this monitor
                automatically insert its triggering tags into the title. Defaults
                to true.
            required: false
            policy: ''
            notes: ''
        enable_logs_sample:
            description: A boolean indicating whether or not to include a list of
                log values which triggered the alert. Defaults to false. This is only
                used by log monitors.
            required: false
            policy: ''
            notes: ''
        require_full_window:
            description: A boolean indicating whether this monitor needs a full window
                of data before it's evaluated.
            required: false
            policy: ''
            notes: ''
        locked:
            description: A boolean indicating whether changes to to this monitor should
                be restricted to the creator or admins. Defaults to False.
            required: false
            policy: ''
            notes: ''
        tags:
            description: 'A list of tags to associate with your monitor. This can
                help you categorize and filter monitors in the manage monitors page
                of the UI. Note: it''s not currently possible to filter by these tags
                when querying via the API'
            required: false
            policy: ''
            notes: ''
        threshold_windows:
            description: A mapping containing `recovery_window` and `trigger_window`
                values, e.g. `last_15m`. Can only be used for, and are required for,
                anomaly monitors.
            required: false
            policy: ''
            notes: ''
        silenced:
            description: Each scope will be muted until the given POSIX timestamp
                or forever if the value is 0. Use `-1` if you want to unmute the scope.
                **Deprecated** The `silenced` parameter is being deprecated in favor
                of the downtime resource. This will be removed in the next major version
                of the Terraform Provider.
            required: false
            policy: ''
            notes: ''
    attributes:
        id:
            description: ID of the Datadog monitor
    timeouts: {}
